<!DOCTYPE html>
<html>
<head>
<style>
body {
    width:100%;
    background: linear-gradient(to top, rgba(89, 85, 85, 0.5)50%,rgba(87, 84, 84, 0.5)50%),;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
h2 {
  text-align: center;
}
p{
  text-align: center;
  font
}
</style>
</head>
<body>

<h2>Why Personal Expense Tracker</h2>

<p><b>An expense tracker is a software or application that helps to keep an accurate record of your money inflow and outflow</b></p>

</body>
</html>
