body {
    margin: 0;
    background-image: linear-gradient(to right, rgb(255, 137, 255), rgb(100, 100, 255));
    font-family: 'Roboto', sans-serif;
}

.track-home {
    display: flex;
    padding: 1rem 1.5rem;
}

.track-left {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 230, 88);
    padding: 1rem 1.2rem;
    height: 89vh;
    border-radius: 1rem;
    box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.25);
}

.track-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem 0.2rem;
}

.avatar {
    height: 9rem;
    width: 9rem;
}

.track-avatar > span {
    margin-top: 0.5rem;
}

.solid-line {
    border-top: 1px solid #5e5e5e;
    width: 100%;
    margin-bottom: 1rem;
}

.track-items {
    display: flex;
    flex-direction: column;
}

.track-items > div {
    width: 100%;
    margin: 0.3rem 0;
    padding: 0.5rem 0 0.5rem 0.3rem;
    cursor: pointer;
    border-radius: 0.3rem;
    font-weight: 500;
}

i {
    margin-right: 0.3rem;
}

.track-items > div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/*.track-items > div:last-child {*/
/*    margin-top: 10rem;*/
/*}*/

.track-right {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    /*background-color: white;*/
    width: 100%;
}

.track-right__top {
    display: flex;
    justify-content: space-between;
}

.track-right__top__types {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-color: rgb(255, 230, 88);
    border-radius: 1rem;
    /*padding: 1.5rem 1.7rem;*/
    height: 10rem;
    width: 13rem;
    box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.25);
}

.track-type__amount {
    margin: 1.5rem 0 0.7rem;
    font-size: 1.5rem;
}

.track-right__bottom {
    display: flex;
    margin-top: 1rem;
}

.track-transactions {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 230, 88);
    width: 60%;
    /*height: 60.5vh;*/
    min-height: 60.5vh;
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 0.5rem;
    text-align: center;
    box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.25);
    margin-right: 1rem;
}

.date-header {
    width: 15%;
}

.transaction-header {
    width: 45%;
}

.type-header {
    width: 25%;
}

.amount-header {
    width: 15%;
}
.total-items {
    display: flex;
    flex-direction: column;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
}

.transact-header,
.transact-item {
    display: flex;
    padding: 0.3rem 0;
}

.transact-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.track-add {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 230, 88);
    width: 35%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.expenditure-input {
    /*margin: 1rem 0;*/
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='text'],
input[type='number'],
input[type='date'],
select {
    box-sizing: border-box;
    padding: 0.9rem 0.5rem 0.9rem 0.5rem;
    display: inline-block;
    border: 2px solid #f5f5f5;
    border-radius: 0.5rem;
    background-color: rgb(255, 230, 88);
    font-size: 1rem;
    width: 17rem;
    color black;
}

input:focus {
    outline: none;
    border: 2px solid #000000;
}

input:hover {
    border: 2px solid #000000;
}

.btn-submit {
    width: 70%;
    align-self: center;
    color: white;
    background-color: #000000;
    border: none;
    margin: 1.3rem 0 1rem 0;
    padding: 0.6rem 0.7rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #ff7070;
}
